<br><br>
<!-- Widgets -->
<div class="row clearfix">

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-left:250px;">
    <div class="info-box bg-blue hover-expand-effect">
      <div class="icon">
        <i class="material-icons">business</i>
      </div>
      <div class="content " style="margin-left:60px;">
        <div class="text">Nombre de dossier ouvert</div>
        <div class="number count-to" data-from="0" data-to="5" data-speed="1000" data-fresh-interval="50"></div>
      </div>
    </div>
  </div>

</div>

<div class="row clearfix">
  <!-- Task Info -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12">
    <div class="card">
      <div class="header">
        <h2 align="center">Informations Conteneurs</h2>
        <ul class="header-dropdown m-r--5">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><a href="javascript:void(0);">Action</a></li>
              <li><a href="javascript:void(0);">Another action</a></li>
              <li><a href="javascript:void(0);">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-hover dashboard-task-infos">
            <thead>
            <tr>
              <th>Numero conteneur</th>
              <th>Etat conteneur</th>
              <th>Nom proprietaire</th>
              <th>Progress Livraison</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>563029400</td>
              <td><span class="label bg-blue">Embarquer</span></td>
              <td>Mame Bassine Ndiaye</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>453029500</td>
              <td><span class="label bg-blue">Embarquer</span></td>
              <td>Adji coura</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>164059400</td>
              <td><span class="label bg-blue">Debarquer</span></td>
              <td>Kadidia guiro</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>063029400</td>
              <td><span class="label bg-blue">Livrer</span></td>
              <td>Mamadou seye</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>733029400</td>
              <td>
                <span class="label bg-blue">Charger</span>
              </td>
              <td>Astou Gassama</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 87%"></div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- #END# Task Info -->
</div>


